<p>
  <mat-toolbar class="topbar topbar__full-width">
    <button mat-icon-button aria-label="Gmail">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="./../../../assets/logo.png" style="margin: auto 85px auto 10px;" alt="Gmail">

    <app-search-input style="width: 700px; margin-right: 10px;"></app-search-input>

    <span class="topbar--spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon class="material-icons-outlined">settings</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>apps</mat-icon>
    </button>

    <div class="profile">
      <img src="../../../assets/profile-img.jpg" class="profile--img" alt="Profile">
    </div>
  </mat-toolbar>
</p>
