<p>
  <mat-toolbar class="topbar">
    <button mat-icon-button aria-label="Example icon-button with menu icon" style="margin-right: 10px;">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="./../../../assets/logo.png" alt="Gmail">
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon class="material-icons-outlined">settings</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>apps</mat-icon>
    </button>

    <div class="profile">
      <img src="../../../assets/profile-img.jpg" class="profile--img" alt="Profile">
    </div>
  </mat-toolbar>
</p>
